{% extends "base.html" %}

{% block title %} Initials Selection {% endblock %}

{% block content %}
	<div class="card border-dark mb-3 mx-2 initials-card">
		<div class="card-body">
			<h6 class="card-subtitle mb-3 text-muted">You picked {{ data['site'] }} and {{  data['day']  }}</h6>
			<h3 class="card-title">Please choose initials:</h3>
			<form action="/submit-initials" method="POST">

				{% for attendee in attendees %}
					<div class="form-check d-flex align-items-center">
						<input class="form-check-input me-2" type="checkbox" id={{attendee}} name="initials" value={{attendee}}>
						<label class="form-check-label fs-3" for={{attendee}}>{{attendee}}</label>
					</div>

				{% endfor %}

				<input type="hidden" name="site" value="{{ data['site'] }}">
				<input type="hidden" name="day" value="{{ data['day'] }}">
				<input type="submit" value="Submit" class="submit-button btn btn-lg w-100">
			</form>
		</div>

	</div>
{% endblock %}