<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Input Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="div1">
        <h3>You picked {{ data['site'] }}</h3>
        <p>Please choose day:</p>
        <form action="/submit-day" method="POST">
            <input type="radio" id="mon" name="day" value="Mon">
            <label for="mon">Monday</label><br>
            <input type="radio" id="tues" name="day" value="Tues">
            <label for="tues">Tuesday</label><br>
            <input type="radio" id="wed" name="day" value="Wed">
            <label for="wed">Wednesday</label><br>
            <input type="radio" id="thurs" name="day" value="Thurs">
            <label for="thurs">Thursday</label><br>
            <input type="radio" id="fri" name="day" value="Fri">
            <label for="fri">Friday</label><br>
            <input type="hidden" name="site" value="{{ data['site'] }}">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>