{% extends "base.html" %}

{% block title %} Site Selection {% endblock %}

{% block content %}
    <div class="card border-dark mb-3 mx-2 site-card">
        <div class="card-body">
            <h3 class="card-title">Please choose a jobsite</h3>
            <form action="/submit-site" method="POST">
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input me-2" type="radio" id="tg" name="site" value="TG">
                    <label class="form-check-label fs-3" for="tg">TG</label>
                </div>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input me-2" type="radio" id="gh" name="site" value="GH">
                    <label class="form-check-label fs-3" for="gh">Greenhouse</label>
                </div>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input me-2" type="radio" id="mh" name="site" value="MH">
                    <label class="form-check-label fs-3" for="mh">McLendon</label>
                </div>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input me-2" type="radio" id="se" name="site" value="SE">
                    <label class="form-check-label fs-3" for="se">Skyline</label>
                </div>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input me-2" type="radio" id="le" name="site" value="LE">
                    <label class="form-check-label fs-3" for="le">Lowell</label>
                </div>
                <input type="submit" value="Submit" class="submit-button btn btn-lg w-100">
            </form>
        </div>
    </div>

{% endblock %}