<html>
	<head>
		<title>Coaches' coach</title>
	</head>
	<body>
		<h3>Hello, Job Coach!</h3>
		<p>Please choose jobsite:</p>
		<form action="/submit" method="POST">
            <input type="radio" id="tg" name="site" value="TG">
            <label for="tg">TG</label><br>
            <input type="radio" id="gh" name="site" value="Greenhouse">
            <label for="gh">Greenhouse</label><br>
            <input type="radio" id="mh" name="site" value="McLendon">
            <label for="mh">McLendon</label><br>
            <input type="radio" id="se" name="site" value="Skyline">
            <label for="se">Skyline</label><br>
            <input type="radio" id="le" name="site" value="Lowell">
            <label for="le">Lowell</label><br>
            <input type="submit" value="Submit">
        </form>
	</body>