<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Input Form</title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="div1">
        <div id="textToCopy">{{ str_render }}</div>
        <button id="copybtn" onclick="copyText()">Copy</button><br>
        <button id="copybtn"><a href="{{ url_for('textgen') }}">Start Over</a></button>

        <script>
            async function copyText() {
                try {
                const text = document.getElementById("textToCopy").textContent;

                // Write text to clipboard (modern API)
                await navigator.clipboard.writeText(text);

                } catch (err) {
                console.error("Failed to copy:", err);
                alert("Copy failed. Your browser may not support Clipboard API.");
                }
            }
        </script>
    </div>
</body>
</html>